
body{
	margin:0;
	padding: 0;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	background-color: #646464;
	color: #464343;
}
#topbar{
	background-color: #000;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0;
}
#navbar{
	text-align: right;
}
.container-fluid{
	padding: 4px 24px;
}
#main{
	margin-top: 0;
	background-color: #fff;
	padding-top: 8px;
	padding-bottom: 100px;
}
#subheader{
	background-color: #ac2336;
	padding-bottom: 24px;
	margin-bottom: 0;
	color: #fff;
}
.lead{
	font-size: 24px;
	font-family: 'Times New Roman', serif;
	margin-top: 20px;
	margin-bottom: 0;
}
.smaller{
	font-size: 16px;
}
.evensmaller{
	font-size: 13px;
	line-height: 1.3;
}
.onderschrift{
	font-size: 14px;
	line-height: 1.3;
	margin-top: -6px;
}


h1{
	margin-top: 10px;
	margin-bottom: 4px;
	padding-bottom: 12px;
	font-size: 48px;
	font-family: 'Times New Roman', serif;
}
h2{
	margin-top: 0px;
	padding-bottom: 6px;
	font-size: 28px;
	font-family: 'Times New Roman', serif;
}
h3{
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 6px;
	font-size: 24px;
	font-family: 'Times New Roman', serif;
	border-bottom: 2px dotted #847d7e;
}
h4{
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 6px;
	font-size: 20px;
	font-family: 'Times New Roman', serif;
}
h5{
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 6px;
	font-size: 18px;
	font-style: italic;
	font-family: 'Times New Roman', serif;
}
p{
	margin-top: 12px;
	margin-bottom: 6px;
}
a{
	color: #ac2336;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color: #ac2336;
}
#topbar a, #footer a{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
#footer a{
	font-weight: normal;
}

#map{
	height: 400px;
	width: 100%;
	background-color: #e6e6e6;
	margin-top: 0;
}
.personblock{
	background-color: #e9e9e9;
	padding: 20px;
	margin-top: 24px;
	border-top-left-radius: 20px;
}

#footer{
	background-color: #646464;
	margin-top: 12px;
	padding-top: 32px;
	padding-bottom: 40px;
	color: #e9e9e9;
}
img{
	width: 100%;
	margin-bottom: 16px;
	margin-top: 8px;
}
.btn-primary{
	background-color: #000;
	font-weight: bold;
	border-width: 0;
	margin-top: -3px;
	padding-bottom: 10px;
}
.btn-primary:hover{
}
button:focus, input:focus, .btn-primary:focus {
}
#logoos img{
	width: 80px;
	margin-right: 16px;
}

